.btn1{
    font-weight: bold;
    margin-inline: 1rem;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .btn1:hover {
    letter-spacing: 3px;
    background-color: rgb(243, 102, 9);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(243, 102, 9) 0px 7px 29px 0px;
   }
   
   .btn1:active {
    letter-spacing: 3px;
    background-color:rgb(243, 102, 9);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(243, 102, 9)0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .items{
    border: rgb(124, 117, 117) 2px solid;
    margin-inline: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 5rem; */
    /* height: 6rem; */
}

.header{
    height: 5rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: -5rem;
}
.logo{
    display: flex;
    justify-content: center;
}
.detail{
    width: 35rem;

    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price{
    width: 8rem;

    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header span{
    color:  rgb(109, 112, 114);
}
.deposit{
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

