body{
    margin: 0px;
    padding: 0px;

}


.container-1{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-2{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-3{
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.f-group{
    padding: 5px;
    margin: 0 10px 0 10px;
    display: flex;
    width: 10rem;
}

.label1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #00B4CC 2px solid;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.items{
    border: rgb(124, 117, 117) 2px solid;
    margin-inline: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 5rem; */
    /* height: 6rem; */
}

.sb-example-1{
    
    padding: 5px;
    width: 25rem;
}

.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .sb-example-1 .searchTerm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .sb-example-1 .searchTerm:focus{
    color: black;
  }
  .sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn1{
    font-weight: bold;
    margin-inline: 1rem;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .btn1:hover {
    letter-spacing: 3px;
    background-color: rgb(243, 102, 9);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(243, 102, 9) 0px 7px 29px 0px;
   }
   
   .btn1:active {
    letter-spacing: 3px;
    background-color:rgb(243, 102, 9);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(243, 102, 9)0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .container-4{
       margin-top: 4rem;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

   .container-5{
       margin-top: 4rem;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 3.4rem;
       text-align: center;
       color: white;
       background-color: #343535;
   }



.header{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    background-color: #555;
    /* overflow: auto; */
    
}
.header1{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    background-color: #555;
    /* overflow: auto; */
    align-items: center;
    
}
.header a {
    width: 16.6%;
    height: 8rem;
    /* float: left;
    text-align: center; */
    /* padding: 10px 26.5px 10px 26.5px; */
    color:black;
    text-decoration: none;
    font-size: 16px;
}
.header1 a {
    width: 25%;
    height: 10rem;
    /* float: left;
    text-align: center; */
    /* padding: 10px 26.5px 10px 26.5px; */
    color:black;
    text-decoration: none;
    font-size: 16px;
}

.header a:hover {
    background-color: #000;
    color: white;
}
.header1 a:hover {
    background-color: #000;
    color: white;
}
  
.col {
    background-color:white;
}

.services{
    /* width:50%; */
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.services img{
    height: 4rem;
    margin: 16px;
}
.services span{
    font-size: 14px;
}

.services1{
    /* width:50%; */
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.services1 img{
    height: 4rem;
    margin: 16px;
}
.services1 span{
    font-size: 7px;
}

/* line with word  */

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
